:root {
    --background-color: #f4f7f9;
    --text-color: #333;
    --header-background: #007BFF;
    --header-text-color: #fff;
    --accent-color: #00A4FF;
    --icon-color: #fff;
    --font-primary: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-primary);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

/* Header Styles */
header {
    background-color: var(--header-background);
    color: var(--header-text-color);
    padding: 40px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid rgba(255, 255, 255, 0.2);
}

.header-container {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    padding: 0 15px;
}

.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.profile-pic img:hover {
    transform: scale(1.05);
}

.bio {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bio h1 {
    font-size: 2.5em;
    margin: 0;
    color: var(--header-text-color);
    font-weight: bold;
}

.bio p {
    margin-top: 10px;
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.9);
}

.contact-info {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.contact-info li {
    font-size: 1.1em;
    display: flex;
    align-items: center;
}

.contact-info li i {
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.8);
}

.contact-info li a {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info li a:hover {
    color: rgba(255, 255, 255, 1);
}

@media (max-width: 768px) {
    header {
        padding: 20px 15px;
    }
    
    .header-container {
        flex-direction: column;
        gap: 20px;
    }

    .bio h1 {
        font-size: 2em;
    }

    .bio p {
        font-size: 1.1em;
    }

    .contact-info {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .contact-info li {
        justify-content: flex-start;
        font-size: 1.2em;
    }
}

/* About Me Section */
.about-me {
    background-color: var(--background-color);
    padding: 80px 20px;
    text-align: left;
}

.about-me h2 {
    font-size: 2.5em;
    color: var(--header-background);
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.about-me .highlight {
    font-size: 1.5em;
    color: var(--accent-color);

    margin-bottom: 30px;
}

.bio-story, .personal-touch {
    font-size: 1.2em;
    line-height: 1.75;
    margin-bottom: 40px;
}

.personal-touch h3 {
    font-size: 2em;
    color: var(--header-background);
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .about-me {
        padding: 40px 15px;
    }

    .about-me h2, .about-me .highlight {
        text-align: center;
    }

    .bio-story, .personal-touch {
        font-size: 1.1em;
    }

    .personal-touch h3 {
        font-size: 1.7em;
    }
}

/* Experience Section */
.experience {
    padding: 60px 0;
    background-color: var(--background-color);
    position: relative;
}

.experience h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
    color: var(--header-background);
	font-weight: bold;
}



.timeline-entry {
    display: flex;
    position: relative;
    margin-bottom: 50px;
}

.timeline-dot {
    width: 15px;
    height: 15px;
    background-color: var(--header-background);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 2;
}

.timeline-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    position: relative;
    z-index: 3;
}

.timeline-entry:hover {
    transform: scale(1.05);
}

.timeline-entry:nth-child(odd) .timeline-content {
    left: 55%;
}

.timeline-entry:nth-child(even) .timeline-content {
    left: 0;
}

.timeline-content h3 {
    font-size: 1.5em;
    color: var(--text-color);
}

.timeline-content .company {
    font-size: 1.2em;
    color: var(--accent-color);
    margin-bottom: 10px;
}

.timeline-content .date {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
}

.timeline-content p {
    font-size: 1em;
    line-height: 1.6;
}

.experience::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: var(--header-background);
    z-index: 1;
    transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
    .timeline-content {
        width: 100%;
        left: 0 !important;
    }

    .timeline-dot {
        left: 10%;
        transform: none;
    }

    .experience::before {
        left: 10%;
    }
}
/* Company Logo Styles */
.company {
    display: flex;
    align-items: center; /* Aligns the text and image vertically */
    gap: 10px; /* Adds space between the text and image */
}

.company-logo {
    width: 30px; /* Set the size for the logo */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Ensures alignment with the text */
}


/* Skills Section */
.skills {
    padding: 80px 20px;
    background-color: var(--background-color);
    text-align: center; /* Center the header */
}

.skills h2 {
    font-size: 2.5em;
    color: var(--header-background);
    margin-bottom: 40px;
    font-weight: bold;
}

/* Skills List Container */
.skills-list {
    list-style-type: none;
    padding: 0;
    text-align: left; /* Align the skill items to the left */
    max-width: 800px; /* Optional: Limit the width of the container */
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 10px; /* Add spacing between items */
}

.skills-list li {
    background-color: #e0f2ff; /* Lighter background for badges */
    color: #007BFF; /* Text color matches the theme */
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1.2em;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.skills-list li:hover {
    background-color: #007BFF; /* Switch to blue on hover */
    color: #fff; /* White text on hover */
}

/* Responsive */
@media (max-width: 768px) {
    .skills-list {
        justify-content: left; /* Keep items centered on smaller screens */
    }

    .skills-list li {
        margin-bottom: 15px;
        font-size: 1.1em;
    }
}



/* Projects Section */
.projects {
    padding: 80px 20px;
    background-color: var(--background-color);
    text-align: center;
}

.projects h2 {
    font-size: 2.5em;
    color: var(--header-background);
    margin-bottom: 40px;
    font-weight: bold;
}

.card {
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.card-img-top {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-body h5 {
    font-size: 1.4em;
    color: var(--header-background);
    margin-bottom: 15px;
}

.card-body p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #666;
}/* Education Section */
.education {
    padding: 80px 20px;
    background-color: var(--background-color);
    text-align: center;
}

.education h2 {
    font-size: 2.5em;
    color: var(--header-background);
    margin-bottom: 40px;
    font-weight: bold;
}

/* Each education item */
.education-item {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* Space between the text and the logo */
}

/* Logos aligned to the right */
.education-item img {
    max-width: 70px; /* Adjust the size of the logos */
    object-fit: contain;
    opacity: 0.8;
}

/* Text aligned to the left */
.text-details {
    text-align: left;
    flex-grow: 1;
}

.text-details h3 {
    color: var(--header-background);
    font-size: 1.5em;
    margin-bottom: 5px;
}

.text-details p {
    font-size: 1.1em;
    color: var(--text-color);
    margin: 0;
}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {
    .education-item {
        flex-direction: column; /* Stack items on mobile */
        text-align: center;
    }

    .education-item img {
        margin-top: 15px; /* Add space above logo when stacked */
    }
}
/* Badge icon next to text */
.badge-icon {
    width: 25px;
    height: auto;
    vertical-align: middle; /* Aligns the badge with the middle of the text */
    margin-left: 8px; /* Adds space between the text and the badge */
    opacity: 0.9; /* Slight transparency */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .badge-icon {
        width: 20px; /* Smaller width for mobile view */
        margin-left: 5px;
        vertical-align: text-bottom; /* Aligns the badge better in mobile */
    }
}


/* Verify Link Arrow */
.verify-arrow {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 1.1em;
    margin-left: 5px;
    transition: color 0.3s ease;
}

.verify-arrow:hover {
    color: var(--header-background);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .education-item {
        flex-direction: column;
        text-align: center;
    }

    .education-details {
        flex-direction: column;
        align-items: center;
    }

    .education-details img {
        margin-bottom: 15px;
    }

    .text-details h3 {
        font-size: 1.3em;
    }

    .text-details p {
        font-size: 1em;
    }
}

/* Footer Styles */
footer {
    background-color: var(--header-background);
    color: var(--header-text-color);
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
    border-top: 4px solid rgba(255, 255, 255, 0.2);
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer-brand h3 {
    font-size: 2em;
    margin: 0;
}

.footer-brand p {
    margin-top: 5px;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.8);
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: var(--header-text-color);
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--accent-color);
}

.footer-links i {
    margin-right: 8px;
    font-size: 1.3em;
}

.footer-copyright p {
    margin-top: 20px;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-links ul {
        flex-direction: column;
        gap: 10px;
    }
}
/* Scroll Indicator for Mobile */
.scroll-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    color: var(--accent-color);
    animation: bounce 2s infinite;
    opacity: 1;
    transition: opacity 0.5s ease; /* Add smooth transition */
}

/* Animation for scroll indicator */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0) translateX(-50%);
    }
    50% {
        transform: translateY(10px) translateX(-50%);
    }
}

/* Hide scroll indicator when not needed */
.scroll-indicator.hidden {
    opacity: 0; /* Fades out */
}

/* Media query for showing on mobile */
@media (max-width: 768px) {
    .scroll-indicator {
        display: block;
    }
}
